@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.dark{
  background-color: #212121;
}

.light{
  background-color: #f6f6f6;
}